#Require an approved review in PRs including files with a designated code owner.
/conf/ @vesoft-inc/tech-committee-reviewers
/src/kvstore/raftex/ @critical27 @sherman-the-tank
/cmake/ @sherman-the-tank @yixinglu @dutor
*.thrift @vesoft-inc/tech-committee-reviewers
*.yy @CPWstatic @dutor
