pytest==5.3.2
pytest-html==2.0.1
pytest-metadata==1.8.0
pytest-reportlog==0.1.0
pytest-xdist==1.31.0
pytest-benchmark==v3.2.3
pytest-metadata==1.8.0
pytest-drop-dup-tests==0.3.0
pytest-bdd==4.0.2
pytest-yapf3==0.5.1
filelock==3.0.12
ply==3.11
pyyaml==5.1
