name: build

on:
  push:
    branches:
      - master
    paths-ignore:
      - 'docs/**'
      - '**.md'

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        tag:
          - centos6
          - centos7
          - ubuntu1604
          - ubuntu1804
        compiler:
          - gcc
          - clang
        exclude:
          - tag: centos6
            compiler: clang
          - tag: centos7
            compiler: clang
          - tag: ubuntu1604
            compiler: clang
    container:
      image: vesoft/nebula-dev:${{ matrix.tag }}
    steps:
      - uses: actions/checkout@v1
        with:
          fetch-depth: 1
      - name: Prepare environment
        run: mkdir -p build
      - name: CMake with gcc
        if: matrix.compiler == 'gcc'
        run: cd build && cmake ..
      - name: CMake with clang
        if: matrix.compiler == 'clang'
        run: cd build && cmake -DCMAKE_CXX_COMPILER=clang++-8 -DCMAKE_C_COMPILER=clang-8 -DENABLE_ASAN=on -DNEBULA_CLANG_USE_GCC_TOOLCHAIN=/opt/vesoft/toolset/gcc/7.5.0 ..
      - name: Make
        run: cd build && make -j $(nproc)
      - name: CTest with single thread
        timeout-minutes: 40
        run: cd build && ASAN_OPTIONS=fast_unwind_on_malloc=0 ctest --timeout 600 --output-on-failure
