name: pull_request

on:
  pull_request:
    types: [synchronize, reopened, labeled]
    branches:
      - master
      - 'v[0-9]+.*'

defaults:
  run:
    shell: bash

jobs:
  lint:
    name: lint
    if: ${{ contains(github.event.pull_request.labels.*.name, 'ready-for-testing') && github.event.pull_request.merged != true }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 2
      - name: Cpplint
        run: |
          ln -snf $PWD/.linters/cpp/hooks/pre-commit.sh $PWD/.linters/cpp/pre-commit.sh
          .linters/cpp/pre-commit.sh $(git --no-pager diff --diff-filter=d --name-only HEAD^ HEAD)
      - uses: actions/setup-python@v2
        with:
          python-version: 3.7
      - name: Prepare Gherkin exec environ
        run: make init-all -C tests
      - name: Check Gherkin feature format
        run: make check -C tests

  build:
    name: build
    needs: lint
    runs-on: self-hosted
    strategy:
      fail-fast: false
      matrix:
        os:
          - centos7
          - ubuntu2004
        compiler:
          - gcc-9.2
          - clang-9
        exclude:
          - os: centos7
            compiler: clang-9
    container:
      image: vesoft/nebula-dev:${{ matrix.os }}
      env:
        TOOLSET_DIR: /opt/vesoft/toolset/clang/9.0.0
        CCACHE_DIR: /tmp/ccache/nebula-graph/${{ matrix.os }}-${{ matrix.compiler }}
        CCACHE_MAXSIZE: 8G
      volumes:
        - /tmp/ccache/nebula-graph/${{ matrix.os }}-${{ matrix.compiler }}:/tmp/ccache/nebula-graph/${{ matrix.os }}-${{ matrix.compiler }}
      options: --cap-add=SYS_PTRACE
    steps:
      - name: Cleanup
        if: ${{ always() }}
        run: rm -rf *
      - uses: actions/checkout@v2
      - name: Prepare environment
        id: prepare
        run: |
          [ -d build/ ] && rm -rf build/* || mkdir -p build
          make init -C tests
      - name: Checkout common
        uses: actions/checkout@v2
        with:
          repository: ${{ github.repository_owner }}/nebula-common
          path: modules/common
          ref: ${{ github.base_ref }}
      - name: Checkout storage
        uses: actions/checkout@v2
        with:
          repository: ${{ github.repository_owner }}/nebula-storage
          path: modules/storage
          ref: ${{ github.base_ref }}
      - name: CMake
        id: cmake
        run: |
          case ${{ matrix.compiler }} in
          gcc-*)
            case ${{ matrix.os }} in
            centos7)
              # build with Release type
              cmake \
                  -DCMAKE_CXX_COMPILER=$TOOLSET_DIR/bin/g++ \
                  -DCMAKE_C_COMPILER=$TOOLSET_DIR/bin/gcc \
                  -DCMAKE_BUILD_TYPE=Release \
                  -DENABLE_TESTING=on \
                  -DENABLE_BUILD_STORAGE=on \
                  -B build
              echo "::set-output name=j::10"
              ;;
            ubuntu2004)
              # build with Debug type
              cmake \
                  -DCMAKE_CXX_COMPILER=$TOOLSET_DIR/bin/g++ \
                  -DCMAKE_C_COMPILER=$TOOLSET_DIR/bin/gcc \
                  -DCMAKE_BUILD_TYPE=Debug \
                  -DENABLE_TESTING=on \
                  -DENABLE_BUILD_STORAGE=on \
                  -DNEBULA_USE_LINKER=lld \
                  -B build
              echo "::set-output name=j::10"
              ;;
            esac
            ;;
          clang-*)
            # build with Sanitizer
            cmake \
                -DCMAKE_CXX_COMPILER=$TOOLSET_DIR/bin/clang++ \
                -DCMAKE_C_COMPILER=$TOOLSET_DIR/bin/clang \
                -DCMAKE_BUILD_TYPE=RelWithDebInfo \
                -DENABLE_ASAN=on \
                -DENABLE_TESTING=on \
                -DENABLE_BUILD_STORAGE=on \
                -DNEBULA_USE_LINKER=lld \
                -B build
            echo "::set-output name=j::6"
            ;;
          esac
      - name: Make graph
        run: |
          ccache -z
          cmake --build build/ -j $(nproc)
          ccache -s
      - name: CTest
        env:
          ASAN_OPTIONS: fast_unwind_on_malloc=1
        run: ctest -j $(($(nproc)/2+1)) --timeout 400 --output-on-failure
        working-directory: build/
        timeout-minutes: 20
      - name: Pytest
        run: |
          make up
          make RM_DIR=false DEBUG=false J=${{ steps.cmake.outputs.j }} test
          make down
        working-directory: tests/
        timeout-minutes: 15
      - name: TCK
        run: |
          make up
          make RM_DIR=false DEBUG=false J=${{ steps.cmake.outputs.j }} tck
          make down
        working-directory: tests/
        timeout-minutes: 25
      - name: Sanitizer
        if: ${{ always() }}
        run: |
          exit $(grep -P "SUMMARY: AddressSanitizer: \d+ byte\(s\) leaked in \d+ allocation\(s\)\." build/server_*/logs/*stderr.log | wc -l)
      - name: Upload logs
        uses: actions/upload-artifact@v2
        if: ${{ failure() }}
        with:
          name: ${{ matrix.os }}-${{ matrix.compiler }}-nebula-test-logs
          path:  build/server_*/logs/
