name: rc

on:
  push:
    branches:
      - 'v[0-9]+.*'

concurrency:
  group: rc
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  package:
    name: build package
    runs-on: [self-hosted, nebula]
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu1604
          - ubuntu1804
          - ubuntu2004
          - centos7
          - centos8
    container:
      image: vesoft/nebula-dev:${{ matrix.os }}
    env:
      BUILD_DIR: ./pkg-build
      CPACK_DIR: ./pkg-build/cpack_output
      SYMS_DIR: ./pkg-build/symbols
    steps:
      - uses: webiny/action-post-run@2.0.1
        with:
          run: sh -c "find . -mindepth 1 -delete"
      - uses: actions/checkout@v2
      - uses: ./.github/actions/tagname-action
        id: tag
      - name: package
        run: ./package/package.sh -v ${{ steps.tag.outputs.tag }} -t RelWithDebInfo -r OFF -p ON -s TRUE
      - name: output some vars
        run: |
          tar zcf ${{ env.CPACK_DIR }}/nebula-${{ steps.tag.outputs.tagnum }}.tar.gz --exclude=${{ env.BUILD_DIR }} ./*
          find ${{ env.CPACK_DIR }} -type f \( -iname \*.deb -o -iname \*.rpm -o -iname \*.tar.gz \) -exec bash -c "sha256sum {} > {}.sha256sum.txt" \;
      - uses: ./.github/actions/upload-to-oss-action
        with:
          key-id: ${{ secrets.OSS_ID }}
          key-secret: ${{ secrets.OSS_SECRET }}
          endpoint: ${{ secrets.OSS_ENDPOINT }}
          bucket: nebula-graph
          asset-path: ${{ env.CPACK_DIR }}
          target-path: rc/${{ steps.tag.outputs.tagnum }}
      - uses: ./.github/actions/upload-to-oss-action
        with:
          key-id: ${{ secrets.OSS_ID }}
          key-secret: ${{ secrets.OSS_SECRET }}
          endpoint: ${{ secrets.OSS_ENDPOINT }}
          bucket: nebula-graph
          asset-path: ${{ env.SYMS_DIR }}
          target-path: rc/${{ steps.tag.outputs.tagnum }}/symbols

  docker_build:
    name: docker-build
    runs-on: [self-hosted, nebula]
    strategy:
      fail-fast: false
      matrix:
        service:
          - graphd
          - metad
          - storaged
          - tools
    steps:
      - uses: webiny/action-post-run@2.0.1
        with:
          run: sh -c "find . -mindepth 1 -delete"
      - uses: actions/checkout@v2
      - uses: ./.github/actions/tagname-action
        id: tagname
      - id: docker
        run: |
          majorver=$(git tag -l --sort=v:refname | tail -n1 | cut -f1 -d".")
          tag=""
          if [[ $majorver == ${{ steps.tagname.outputs.majorver }} ]]; then
            tag="${{ secrets.HARBOR_REGISTRY }}/vesoft/nebula-${{ matrix.service }}:latest"
          fi
          echo "::set-output name=tag::$tag"
      - uses: docker/setup-qemu-action@v1
      - uses: docker/setup-buildx-action@v1
      - uses: docker/login-action@v1
        with:
          registry: ${{ secrets.HARBOR_REGISTRY }}
          username: ${{ secrets.HARBOR_USERNAME }}
          password: ${{ secrets.HARBOR_PASSWORD }}
      - uses: docker/build-push-action@v2
        with:
          context: .
          file: ./docker/Dockerfile.${{ matrix.service }}
          # platforms: linux/amd64,linux/arm64
          platforms: linux/amd64
          tags: |
            ${{ secrets.HARBOR_REGISTRY }}/vesoft/nebula-${{ matrix.service }}:${{ steps.tagname.outputs.tag }}
            ${{ secrets.HARBOR_REGISTRY }}/vesoft/nebula-${{ matrix.service }}:${{ steps.tagname.outputs.majorver }}
            ${{ steps.docker.outputs.tag }}
          push: true
          build-args: |
            BRANCH=${{ steps.tagname.outputs.tag }}
