name: release

on:
  release:
    types:
      - published

concurrency:
  group: release
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  package:
    name: package
    runs-on: ubuntu-latest
    container:
      image: vesoft/nebula-dev:centos7
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/tagname-action
        id: tag
      - run: |
          ossutil64 cp -rf \
            -i ${{ secrets.OSS_ID }} \
            -k ${{ secrets.OSS_SECRET }} \
            -e ${{ secrets.OSS_ENDPOINT }} \
            oss://nebula-graph/rc/${{ steps.tag.outputs.tagnum }} \
            oss://nebula-graph/package/${{ steps.tag.outputs.tagnum }}

  docker_build:
    name: docker-build
    runs-on: [self-hosted, nebula]
    strategy:
      fail-fast: false
      matrix:
        service:
          - graphd
          - metad
          - storaged
          - tools
    steps:
      - uses: webiny/action-post-run@2.0.1
        with:
          run: sh -c "find . -mindepth 1 -delete"
      - uses: actions/checkout@v2
      - uses: ./.github/actions/tagname-action
        id: tagname
      - id: docker
        run: |
          majorver=$(git tag -l --sort=v:refname | tail -n1 | cut -f1 -d'.')
          tag=""
          if [[ $majorver == ${{ steps.tagname.outputs.majorver }} ]]; then
            tag="latest"
          fi
          echo "::set-output name=tag::$tag"
      - name: Sync docker images
        env:
          FROM_IMAGE: docker://${{ secrets.HARBOR_REGISTRY }}/vesoft/nebula-${{ matrix.service }}
          TO_IMAGE: docker://docker.io/vesoft/nebula-${{ matrix.service }}
          CMD: docker run --rm -i quay.io/containers/skopeo:v1.4.1 copy -a --src-creds ${{ secrets.HARBOR_USERNAME }}:${{ secrets.HARBOR_PASSWORD }} --dest-creds ${{ secrets.DOCKER_USERNAME }}:${{ secrets.DOCKER_PASSWORD }}
        run: |
          ${{ env.CMD }} ${{ env.FROM_IMAGE }}:${{ steps.tagname.outputs.tag }} ${{ env.TO_IMAGE }}:${{ steps.tagname.outputs.tag }}
          ${{ env.CMD }} ${{ env.FROM_IMAGE }}:${{ steps.tagname.outputs.tag }} ${{ env.TO_IMAGE }}:${{ steps.tagname.outputs.majorver }}
          if [[ ! -z "${{ steps.docker.outputs.tag }}" ]]; then
            ${{ env.CMD }} ${{ env.FROM_IMAGE }}:${{ steps.tagname.outputs.tag }} ${{ env.TO_IMAGE }}:${{ steps.docker.outputs.tag }}
          fi
